body {
  background-color: #1d1d1e;
}

.container{
  width: 100%;
  height auto;
  overflow: hidden;
  margin: 10px auto 10px auto;
  padding-left: 2%;
  position: fixed;
  bottom: 0px;
  z-index: 1;
}

.main-logo{
  position: absolute;
  height: 80vh;
  width: 100%;
  background-color: #3c3c3c;
}

.card{
  float: left;
  width: 30%;
  height: 2.5em;
  margin: 10px 3% 10px 0;
  background-color: #3c3c3c;
  text-align: center;
  font-size: 3em;
  padding-top: 1em;
  padding-bottom: auto;
  color: white;
}

@media only screen and (max-width: 420px) {
  .footText{
    font-size: 70%;
  }
}

#mouse-image {
  background:url('../images/logowhite.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  top:0;
  height: 100%;
  z-index:0;
  height:100%;
  background-size: calc(50% + 50px);
}

.mouse-container {

}
