body {
  background-color: #1d1d1e;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height auto;
  overflow: hidden;
  margin: 10px auto 10px auto;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.main-logo{
  position: absolute;
  top: 0;
  left: 0;
  height: 80vh;
  width: 100%;
  z-index: 0;
}

.card{
  float: left;
  width: 30%;
  height: 2.5em;
  background-color: #3c3c3c;
  text-align: center;
  font-size: 3em;
  padding-bottom: auto;
  color: white;
}

@media only screen and (max-width: 420px) {
  .footText{
    font-size: 70%;
  }
}

#mouse-image {
  background:url('../images/logowhite.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  top:0;
  height: 100%;
  z-index: 2;
  height:100%;
  background-size: 500px;
}

#back-image {
  background:url('../images/logowhite.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  top:0;
  height: 100%;
  z-index: 3;
  height:100%;
  background-size: 500px;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
}

#mouse-container {
}
